<div class="container">
  <div class="row">
    <div class="col-md-12">
      <div class="card bg-dark my-5">
        <div class="card-body">
          <h2 class="card-title text-center text-white py-3">{{ title }}</h2>
          <ul class="text-center list-inline py-3">
            <li class="list-inline-item">
              <a routerLink="/users" class="btn btn-info">List Users</a>
            </li>
            <li class="list-inline-item">
              <a routerLink="/adduser" class="btn btn-info">Add User</a>
            </li>
            <li class="list-inline-item" *ngIf="this.authService.isLoggedIn; then thenBlock else elseBlock"></li>
            <ng-template #thenBlock><a (click)="logout()" class="btn btn-info">Logout</a></ng-template>
            <ng-template #elseBlock><a routerLink="/signin" class="btn btn-info">Login</a></ng-template>
          </ul>
        </div>
      </div>
      <router-outlet></router-outlet>
    </div>
  </div>
</div>
