<div class="auth-wrapper">
  <form class="form-signin" [formGroup]="loginForm" (ngSubmit)="loginUser()">
    <h3 class="h3 mb-3 font-weight-normal text-center">Please log in</h3>
    <div class="form-group">
      <label>Username</label>
      <input type="username" class="form-control" formControlName="username" placeholder="Username" required>
      <p *ngIf="!loginForm.get('username').valid && loginForm.get('username').dirty" class="error">Username is
        required!</p>
    </div>
    <div class="form-group">
      <label>Password</label>
      <input type="password" class="form-control" formControlName="password" placeholder="Password">
    </div>
    <button type="submit" class="btn btn-block btn-primary">Login</button>
  </form>
</div>
